.Page {
	display: flex;
	padding: 20px;
	justify-content: center;
}

.Threads {
	width: 60%;
	padding: 20px;
}

.Thread {
	border-radius: 25px;
	background: #98f05d;
	margin: 20px;
	padding: 5px;
	display: flex;
	justify-content: space-between;
}

.UserInfo {
	width:200px;
	
	border-radius: 25px;
	background: #73AD21;
	padding: 20px;
}

body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 15px;
	line-height: 1.5;
	background: #ebf0e8;
	color: rgba(0,0,0, 0.5);
}

button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: 8px;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  background-color: #2c974b;
}

button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}